* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #1f4d3b;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER */
.container {
    width: 900px;
    height: 500px;
    display: flex;
    border-radius: 60px;
    overflow: hidden;
}

/* LEFT */
.left {
    width: 50%;
    background: #f4f7f6;
    position: relative;
}
.left {
    width: 50%;
    height: 100%;
    background: #f4f7f6;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.content-left {
    padding: 50px;
}

.logo {
    width: 120px;
}

.tree {
    width: 250px;
    position: absolute;
    bottom: 30px;
    left: 120px;
}

/* RIGHT */
.right {
    width: 50%;
    background: #2e5b47;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius:100%;
    border-bottom-right-radius:100%;
}

/* FORM */
.form-box {
    width: 70%;
    color: white;
}

.form-box h2 {
    margin-bottom: 20px;
}

.form-box label {
    font-size: 14px;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border: none;
    border-radius: 20px;
    background: #1f4d3b;
    color: white;
}

.forgot {
    font-size: 12px;
    display: block;
    margin-bottom: 15px;
    color: #ccc;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #7cc1b2;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #66a89a;
}

p {
    margin-top: 15px;
    font-size: 13px;
}

p a {
    color: #9ad4c7;
    text-decoration: none;
}