
:root{
    --primary-color:rgb(13,52,97);
}
.createproduct{
    background-color:rgba(198, 201, 200, 0.13);
    width:100%;
    max-width:800px;
    height:800px;
    margin-left:auto;
    margin-right:100px;
    margin-top:50px;
    padding-top:50px;
    box-sizing:border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px ;
}
label{
    color:rgb(0, 0, 0);
    font-size:20px;
    margin:20px;
}
input,textarea,select{
    background-color: transparent;
    color:rgb(0, 0, 0);
    border-radius: 5px;
    border:1px solid rgb(201, 198, 198);
    margin:10px;
    padding:5px;
    outline:none;
}
select{
    background-color:black;  /* trong suốt */
    color: rgb(0, 0, 0);    
    background:transparent;         /* màu chữ */
}
h1{
    margin-top:90px;
    margin-right:330px;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: right;
    padding:10px;

}
p{
    color:rgb(0, 0, 0);
}
button{
    margin-top:100px;
    background-color:var(--primary-color);
    border-radius: 10px;
    color:azure;
    padding:10px 50px;
}
button:hover{
    background-color: rgb(189, 59, 8);
}
.button{
    text-align: center;
}
.content{
    margin:10px;
}
body{
    background-image:url(shopping.png);
    background-size:cover;
    /* Phóng to/thu nhỏ ảnh để phủ kín toàn màn hình (có thể bị cắt ảnh) */
    background-repeat:no-repeat;
    /* Không lặp lại ảnh (tránh bị nhân bản nhiều ảnh nhỏ) */
    background-position: center;
    /* Căn ảnh vào chính giữa (rất quan trọng để không bị lệch khi zoom) */
    background-attachment: fixed;
    /* Cố định ảnh nền khi scroll (tạo hiệu ứng nền đứng yên) */
}
textarea{
    width:300px;
}
